<h2>Estadísticas de Quiz</h2>
<br/>
Número de preguntas: <%=totalPreguntas%><br/>
Número de comentarios totales: <%=comentariosTotal%><br/>
Media de comentarios por pregunta: <%=mediaComentarios%><br/>
Número de preguntas con comentarios: <%=preguntasCon%><br/>
Número de preguntas sin comentarios: <%=preguntasSin%><br/>